{% extends "layout.html" %}

{% block content %}
<head></head>
<div class="jumbotron">
    <h1>Resume!</h1>
    <p class="lead">Get to know the Devops Engineer, Vusikaya Paraffin.</p>
    <p><a href="https://www.credly.com/badges/62bcf555-29ef-4c73-93ca-9eed874d5815/public_url" class="btn btn-primary btn-large">See Badge &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Python programmer</h2>
        <p>
            I received Python programming training at Nelson Mandela University from 2022-2023, where I learned the concepts and skills necessary to be a successful programmer. My training included an emphasis on object-oriented programming and automation. I have a strong understanding of these concepts and feel confident in my ability to apply them in a professional setting.
        </p>
        <p><a class="btn btn-default" href="https://www.credly.com/badges/96434796-af0e-42d1-99d7-6a97a1c5fdc1/public_url">See Badge &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IoT Solutions</h2>
        <p>I completed an IoT internship at Nelson Mandela University from 2022-2023, during which I gained a strong foundation in working with IoT devices and setting up smart homes. My internship provided me with hands-on experience and allowed me to develop my skills in this rapidly-growing field.</p>
        <p><a class="btn btn-default" href="https://www.credly.com/badges/27576552-f32a-4482-a0d6-3a9412693786/public_url">See Badge &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Service Desk</h2>
        <p>I received my IT Technician and Customer Service training from Boston College in 2019. In 2021, I successfully passed the CompTIA A+ exam and obtained my certification. This training and certification has provided me with the skills and knowledge to excel in technical support and customer service roles.</p>
        <p><a class="btn btn-default" href="https://www.credly.com/badges/93854b9c-41dc-4239-9544-532c45249e1d/public_url">See Badge &raquo;</a></p>
    </div>

</div>
<div>
    <h4>More of myself:</h4>
</div>
<body>
            Freshly graduated and highly motivated individual seeking a DevOps engineer role where I can utilize my technical skills and continue to learn and grow. In my spare time, I have been</b>
            actively pursuing hands-on experience through home lab projects, including setting up and managing virtual environments and testing out various automation tools. I am excited to bring</b>
            my enthusiasm and dedication to a forward-thinking company.

            <div>
                <h4>Hands-on Experience</h4>
            </div>
            Project: Deployment of a multi-tier web application using Azure DevOps</br>
            <ul>
                <li>
                    Description: Set up a continuous integration and delivery pipeline for a web
                    application using Azure DevOps. Implemented automated testing and deployment to
                    staging and production environments.
                </li>

                <li>Role: Sole developer responsible for the setup and configuration of the CI/CD pipeline.</li>

                <li>Technologies Used: Azure DevOps, Git, Azure virtual machines, PowerShell</li>
            </ul>


            Git Experience:</br>
            <ul>
                </br>
                <li>I worked on personal projects using Git as versioning control and the Git Repositories to host my code.</li>
                <li>I am familiar with Git commands and concepts such as branching, merging and resolving conflicts.</li>
                <li>There were about 45% of challengies I faced using Git, and used my research abilities to overcome them.</li>
                <li>
                    The main projects I contributed and worked on is python flask Application, .NET Web App, where I made code changes,
                    staging and commit the code to .git directory(Repository)
                </li></br>
            </ul>


            Yaml:</br>
            <ul>
                </br>
                <li>Setting up a continuous integration (CI) pipeline using YAML configuration.</li>
                <li>Building .NET applications using MSBuild or dotnet build.</li>
                <li>Running unit tests and collecting test results.</li>
                <li>Packaging and publishing build artifacts.</li>
                <li>Deploying applications to various environments, such as staging or production.</li>
            </ul>

            <p>
                As a junior Azure DevOps engineer, I have hands-on experience using a YAML build and
                test pipeline for a .NET web app and a Python Flask app. My expertise in this area will be
                valuable in any organization as I will be able to set up automated build and deployment
                processes for these types of applications. In addition, my knowledge of YAML will allow
                me to easily modify and maintain the build pipelines as needed. Overall, my skills and
                experience make me well-suited for a role in Azure DevOps, where I will be able to utilize
                my knowledge to streamline the development and deployment process for various types
                of applications.
            </p>

            <center><h4>I made use of these Tools</h4></center>
            <center>Set up and configure Azure DevOps pipelines for continuous integration and delivery.</center>
            <center>Utilize Mend Bolt to automate tasks and deployments within Azure DevOps.</center>
            <center>Implement code coverage tools to ensure the quality and reliability of code changes.</center>
            <center>Integrate SonarCloud for static code analysis and to track code quality over time.</center>
            <center>Use Jenkins for automating the build and deployment process, as well as for continuous integration testing.</center>
            <center>Manage and maintain build agents to ensure that builds and deployments are efficient and reliable.</center>
            <center>Collaborate with development teams to troubleshoot and resolve build and deployment issues.</center>
            <center>Stay up-to-date with new features and capabilities in Azure DevOps and related tools, such as Mend Bolt and Jenkins.</center>
            <center>Continuously monitor and optimize build and deployment processes to ensure they are efficient and reliable.</center>
            <center>Provide support and guidance to development teams on the use of Azure DevOps and related tools.</center>
</body>

{% endblock %}
